<footer class="footer">
  <small>
    <a href="http://kylechadha.com/projects">Kyle Chadha's Projects</a>
    by Kyle Chadha
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://kylechadha.com/projects">News</a></li>
    </ul>
  </nav>
</footer>